@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Red Hat Display";*/
/*    !*border: 1px solid red;*!*/
/*}*/
/*html,body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    min-height: 100vh;*/
/*}*/
/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 1em;*/

/*}*/
/*main {*/
/*    flex: 1;*/
/*    width: 100%;*/
/*    max-width: 400px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/



/*}*/
/*article {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 24px;*/
/*    text-align: center;*/
/*    box-shadow: 3px 3px 6px rgba(0,0,0,0.16);*/
/*}*/
/*.header-img {*/
/*    width: 100%;*/
/*}*/
/*h1 {*/
/*    font-weight: 900;*/
/*    line-height: 150%;*/
/*    letter-spacing: 0;*/
/*    font-size: 1.7rem;*/
/*    margin-top: .5em;*/

/*}*/
/*h2 {*/
/*    font-weight: 700;*/
/*    line-height: 150%;*/
/*    margin: 0;*/
/*}*/
/*p {*/
/*    font-size: 16px;*/
/*    font-weight: 500;*/
/*    line-height: 150%;*/
/*    letter-spacing: 0;*/
/*    color: hsl(224, 23%, 55%);*/
/*}*/
/*.plan-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    gap: 12px;*/
/*}*/
/*.plan-type {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 16px;*/
/*}*/
/*.plan-info {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: left;*/
/*}*/
/*button {*/
/*    padding: .8em;*/
/*    background-color: hsl(245, 75%, 52%);*/
/*    color: white;*/
/*}*/
/*a {*/
/*    font-size: 14px;*/
/*    font-weight: 900;*/
/*    text-decoration: none;*/
/*    color: hsl(224, 23%, 55%);*/
/*}*/




/*new css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display";
}
h1 {
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0;
    font-size: 1.7rem;
}
h2 {
    font-weight: 700;
    line-height: 150%;
    margin: 0;
    font-size: 1.2rem;
}
p {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    color:
}
body {
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
}
main {
    background: url(images/pattern-background-desktop.svg)  no-repeat;
    background-size: contain;
    flex: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 1em;*/
    border: 1px solid red;

}
article {
    max-width: 400px;
    margin: 0 auto;
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    border-radius: 20px;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);*/
}
.content-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2em 2em;
}
.header-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.plan-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 1em;
    background-color: hsl(225, 100%, 94%);
    border-radius: 16px;
}
.plan-type {
    display: flex;
    align-items: center;
    gap: 16px;
}
.plan-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
button {
    padding: 1.2em;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 18px 16px rgba(56, 41, 224,0.15);
}

















