:root {
  /* Primary Color */
  --color-orange-500: hsl(25, 97%, 53%);

  /* Neutrals */
  --color-white: hsl(0, 100%, 100%);
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(213, 19%, 18%);
  --color-grey-950: hsl(216, 12%, 8%);

  /* Typography */
  --font-family-base: 'Overpass', sans-serif;
  --font-size-body: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}
*:focus {
    outline: none;
}

body {
    font-family: var(--font-family-base);
    background-color: var(--color-grey-950);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    padding: 1.5em;
}
.rating-container  {
    background-color: var(--color-grey-900);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    border-radius: 15px;
    max-width: 335px;
    width: 100%;
}
.rating-container-main , .success-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;

}
.hide {
    display: none;
}
.rating-container-content {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.rating-container h1 {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);

}
.rating-container p {
    color: var(--color-grey-500);
    font-weight: var(--font-weight-regular);
    font-size: .8rem;
}
ul {
    list-style: none;
    display: flex;
    gap: .5em;
    justify-content: space-between;
}
ul li {
    outline: none;

    cursor: pointer;
    color: var(--color-grey-500);
    font-size: var(--font-size-body);
    background-color: rgba(148,159,172,0.1);
    padding-top: .3em;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
}
ul li:hover {
    background-color: var(--color-orange-500);
    color: var(--color-grey-950);
}
ul li:focus , ul li:active,  .li-select {
    background-color: var(--color-white);
    color: var(--color-grey-950);
}
button {
    padding: .75em 1em;
    border: none;
    border-radius: 25px;
    background-color: var(--color-orange-500);
    color: var(--color-grey-950);
    font-size: .8rem;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    letter-spacing: 2px;
}
button:hover {
    background-color: var(--color-white);
}
button:disabled {
    opacity: 0.6;              /* fades out the button */
    cursor: not-allowed;       /* shows "not-allowed" cursor */
    background-color: #ccc;    /* optional: different bg color */
    color: #888;               /* optional: different text color */
    pointer-events: none;      /* optional: disables interactions */
}
.success-message {
    padding: 1em;
    gap: 1em;
    text-align: center;

}
.success-message img {
    width: 120px;
}
.success-message-content {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.success-message-content h2 {
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
}
.success-message-content p {
    color: var(--color-grey-500);
    font-size: .8rem;
    font-weight: var(--font-weight-regular);
}
.badge {
    width: fit-content;
    margin: 0 auto;
    padding: .2em 1em;
    border-radius: 25px;
    text-align: center;
    background-color: rgba(148,159,172,0.1);
}
.badge p {
    color: var(--color-orange-500);
    font-size: .6rem;
    font-weight: var(--font-weight-semibold);
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    color: var(--color-grey-500);
    font-size: .65rem;
}